.page-template-page-media
  #breadcrumbs
    > span
      @apply text-dark-blue
  

  .filters-select-wrapper
    @apply border-dark-blue border-[2px] border-solid rounded-[190px] cursor-pointer font-transducer font-semibold text-dark-blue text-[17px] leading-[29px] tracking-[0.68px] uppercase relative flex items-center
    &::after
      @apply w-4 h-3 bg-dark-blue justify-self-end
      content: ''
      clip-path: polygon(100% 0%, 0 0%, 50% 100%)
    select,
    .filters-select-wrapper::after
      grid-area: select
    select
      @apply appearance-none bg-transparent border-none w-full cursor-[inherit] text-[inherit] font-[inherit] leading-[inherit] m-0 p-0 uppercase
      outline: none
      &::-ms-expand
        @apply hidden
      option
        @apply mb-4
  #reset-filters
    @apply font-transducer font-semibold text-[#91b2b6] text-base leading-[29px] tracking-[0.68px] uppercase
