.container
    &__autograph
        .circle-mask
            &:hover
                @apply w-[770px] h-[770px]
            &:after
                position: absolute
                width: 100%  
                height:100%
                content:""
                z-index:10